/*@import url('https://fonts.googleapis.com/css2?family=DotGothic16&display=swap');

@font-face {
  font-family: 'DotGothic16'; /* Nome que você dará para a fonte no CSS
  src: url('../fonts/DotGothic16-Regular.ttf') format('truetype'); /* Caminho para o arquivo da fonte 
  font-weight: normal;  Ou o peso específico da fonte, se houver 
  font-style: normal;  /* Ou o estilo específico, se houver 
  font-display: swap;  /* Melhora o carregamento da fonte, evitando texto invisível 
}

body {
  font-family: 'DotGothic16', sans-serif;
}*

body {
  padding-top: 56px; /* Default Bootstrap navbar height *
}*/

.fade-out {
  opacity: 0;
  transform: scale(0.95);
}

.fade-in {
  opacity: 1;
  transform: scale(1);
}

header {
  padding: 145px;
  text-align: center;

  background-image: url("../assets/images/praia_wallpaper.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;

  color: white;
  font-size: larger;
}

header h1 {
  font-size: 3em;
  /*font-size: 70px; */
  text-shadow: 2px 2px 20px black;
  position: absolute;
  
  will-change: transform;

  opacity: 1;
  transform: scale(1);
  transition: opacity 1.2s ease, transform 1.2s ease-out;
}

a.nav-item {
  padding-top: 5px;
}

#offcanvasNavbar .nav-link {
  padding-top: 10px;
  /*padding-top padding-right padding-bottom padding-left*/
  padding-bottom: 15px;
  padding-left: 50px;
  font-size: medium;
  display: block;
  margin: 0;
}

/*.navbar-toggler-icon {
  background-color: #343a40;
  border: none;
  border-radius: 4px;
}*/

#offcanvasNavbar a.text-light:hover {
  color: #007bff !important;
}

article {
  display: flex;
  /*align-items: center;
  gap: 20px; */
  margin: 30px;
  /*text-align: justify; */
}

.text-content {
  padding: 15px;
  text-align: justify;
  /*alinhamento do texto*/
}

article img {
  max-width: 20%;
  height: auto;
  border: 2px solid lightgray;
  /*border-radius: 30px;*/
}



footer {
  /*text-align: center;*/
  font-size: medium;
}

#pages a.text-muted:hover {
  color: #007bff !important;
}