/*@import url('https://fonts.googleapis.com/css2?family=DotGothic16&display=swap');

@font-face {
  font-family: 'DotGothic16'; /* Nome que você dará para a fonte no CSS
  src: url('../fonts/DotGothic16-Regular.ttf') format('truetype'); /* Caminho para o arquivo da fonte 
  font-weight: normal;  Ou o peso específico da fonte, se houver 
  font-style: normal;  /* Ou o estilo específico, se houver 
  font-display: swap;  /* Melhora o carregamento da fonte, evitando texto invisível 
}

body {
  font-family: 'DotGothic16', sans-serif;
}*/

header {
  padding: 145px;
  text-align: center;
  
  background-image: url("../assets/images/minecraft_wallpaper.jpg");
  background-size: cover;
  background-position: center;
  display: flex; /* Para centralizar o h1 */
  justify-content: center; /* Para centralizar o h1 */
  align-items: center; /* Para centralizar o h1 */
  position: relative; /* Essencial para posicionar o h1 */
  overflow: hidden; /* Garante que o h1 não "escape" se movimentando muito */
  
  color: white;
  font-size: larger;
}

header h1 {
  font-size: 3em; /*font-size: 70px; */
  text-shadow: 2px 2px 20px black;
  color: white; /* Cor do seu título */
  position: absolute; /* Permite mover livremente em relação ao header */
  transition: transform 0.1s ease-out; /* Transição suave para o movimento */
  will-change: transform; /* Otimização para performance da animação */
}

li.nav-item {
  padding-top: 10px;
}

.nav-item {
  margin: 30px;
  font-size: large;
}

article img {
  margin: 20px;
  display: flex;
  justify-content: center; 
  align-items: center; 
  height: 100vh;
}

article {
  margin: 20px;
  text-align: justify;
}

footer {
  text-align: center;
  font-size: medium;
}