header {
  padding: 145px;
  text-align: center;
  
  background-image: url("../assets/images/minecraft_wallpaper.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  
  color: white;
  font-size: larger;
}

header h1 {
  font-size: 3em; /*font-size: 70px; */
  text-shadow: 2px 2px 20px black;
  color: white;
  position: absolute;
  transition: transform 0.1s ease-out;
  will-change: transform;
}

.nav-item {
  margin: 30px;
  font-size: large;
  color: white;
}

article {
  margin: 20px;
  text-align: justify;
}

article img {
  margin: 20px;
  width: auto;
  height: 500px;
  object-fit: cover;
  border-style: solid;
  border-color: black;
}

footer {
  text-align: center;
  font-size: medium;
}